<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Airplanes</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/mdb.min.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
</head>
<body class="p-0" style="background: url('https://images.pexels.com/photos/633520/pexels-photo-633520.jpeg?cs=srgb&dl=architecture-background-blue-633520.jpg&fm=jpg') right no-repeat border-box; background-size: 100% 100%">

    <div class="container p-0 white">
        <nav class="navbar bg-transparent mt-0" style="
        background: url('https://i.imgur.com/OzDwuMc.png') right no-repeat border-box; background-size: 100% 100%">

            <div class="row">
                <div class="col-9">
                    <a href="/" class="navbar-brand">
                        <span class="row m-auto">
                            <img src="https://i.imgur.com/mHgQIW6.png" height="60" alt="">
                        </span>
                    </a>
                </div>
            </div>

        </nav>

        <ul class="navbar nav aqua-gradient py-1 font-weight-bold mt-3">
            <li class="nav-item">
                <a class="nav-link active white-text" href="#">Tin tức</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">|</a>
            </li>

            <li class="nav-item dropdown white-text">
                <a class="nav-link dropdown-toggle white-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Thông tin chuyến bay</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Home/EagleAirline">Eagle Airline</a>
                    <a class="dropdown-item" href="#">Lịch bay</a>
                    <a class="dropdown-item" href="#">Tình trạng chuyến bay</a>
                    <a class="dropdown-item" href="#">Sân bay và nhà ga</a>
                    <a class="dropdown-item" href="#">Quy định pháp luật</a>
                    <a class="dropdown-item" href="#">Quy định hàng hóa</a>
                    <a class="dropdown-item" href="#">Quy định vé</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Phí và lệ phí</a>
                    <a class="dropdown-item" href="/Home/Yeu_cau_ve_giay_to">Giấy tờ và thủ tục</a>
                    <a class="dropdown-item" href="#">Tìm kiếm hành lý</a>
                    <a class="dropdown-item" href="/Home/Thong_tin_noi_chuyen">Quy định nối, chuyển chuyến</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">|</a>
            </li>

            <li class="nav-item dropdown white-text">
                <a class="nav-link dropdown-toggle white-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Dịch vụ</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Home/Dich_vu_tren_chuyen_bay">Dịch vụ trên chuyến bay</a>
                    <a class="dropdown-item" href="/Home/Dieu_le_van_chuyen">Dịch vụ hàng hóa</a>
                    <a class="dropdown-item" href="/Home/Dich_vu_hanh_ly">Dịch vụ hành lý</a>
                    <a class="dropdown-item" href="/Home/Dich_vu_dac_biet">Dịch vụ đặc biệt</a>
                    <a class="dropdown-item" href="#">VIP Eagle</a>
                    <a class="dropdown-item" href="#">Premium Travel</a>
                    <a class="dropdown-item" href="#">Hàng miễn thuế</a>
                    <a class="dropdown-item" href="#">Dịch vụ chọn chỗ</a>
                    <a class="dropdown-item" href="/Home/Dich_vu_thu_tuc_nhanh">Dịch vụ làm thủ tục nhanh</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">|</a>
            </li>

            <li class="nav-item dropdown white-text">
                <a class="nav-link dropdown-toggle white-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Thông tin đặt chỗ</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Hướng dẫn đặt chỗ</a>
                    <a class="dropdown-item" href="#">Quản lý đặt chỗ</a>
                    <a class="dropdown-item" href="#">Đặt chỗ theo nhóm</a>
                    <a class="dropdown-item" href="#">Kênh thanh toán</a>
                    <a class="dropdown-item" href="#">Hóa đơn VAT</a>
                    <a class="dropdown-item" href="#">Vé điện tử</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">|</a>
            </li>
            <li class="nav-item dropdown white-text">
                <a class="nav-link dropdown-toggle white-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Đặt vé</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/usersview/choiseroute">Mua vé online</a>
                    <a class="dropdown-item" href="#">Đại lý</a>
                    <a class="dropdown-item" href="#">Phòng vé</a>
                    <a class="dropdown-item" href="#">Tổng đài</a>
                    <a class="dropdown-item" href="#">Đăng ký đại lý</a>
                    <a class="dropdown-item" href="#">Khách hàng doanh nghiệp</a>
                    <a class="dropdown-item" href="#">Câu hỏi thường gặp</a>
                    <a class="dropdown-item" href="#">FAQ</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">|</a>
            </li>
            <partial name="_LoginPartial" />


        </ul>


        <partial name="_CookieConsentPartial" />

        <div class="container body-content p-3">
            @RenderBody()
            <hr />
            <div class="panel-footer navbar-fixed-bottom">
                <h6 class="text-center mb-2 blue lighten-4 pt-2 pb-2">Copyright - Eagle Airline © 2019</h6>
            </div>
        </div>

        <environment include="Development">

            <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="~/js/popper.min.js"></script>
            <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/js/mdb.min.js"></script>


            <script src="~/js/site.js" asp-append-version="true"></script>

            <script>
                $(document).ready(function () {
                    console.log("ready!");
                    $('.datepicker').pickadate();
                    $("option").each(function (index) {

                        console.log($(this).text());
                        var str = $(this).text();
                        $(this).text(str.replace("N'", ""));

                    })
                });
            </script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>

        </environment>

        @RenderSection("Scripts", required: false)
    </div>

</body>
</html>