@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                
                    <select class="form-control">
                        <option value="1">Male</option>
                        <option selected="selected" value="0">Female</option>
                        <option value="2">Other</option>
                    </select>
                
                <span class="text-danger"></span>
            </div>
        </form>
        
    </div>
</div>
