
@{
    ViewData["Title"] = "Dich_vu_hanh_ly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="left">
    <div class="text">
        <p class="Title"><span id="ctl00_ContentPlaceHolder1_UcNewDetail1_LblTitle" class="TitleLink">Dịch vụ h&agrave;nh l&yacute;</span></p>
        <div>
            <div>
                <h4>+++Qui định về H&agrave;nh l&yacute; x&aacute;ch tay:</h4>
                <a href="/Home">Quay về trang chủ</a>
            </div>
            <br />
            <p>- H&agrave;nh l&yacute; x&aacute;ch tay đ&uacute;ng quy định được ph&eacute;p mang l&ecirc;n t&agrave;u bay phải đủ c&aacute;c điều kiện sau:</p>
            <br />
            <h3>1. Điều kiện về trọng lượng:</h3>
            <p>Mỗi h&agrave;nh kh&aacute;ch (ngoại trừ em b&eacute;) được ph&eacute;p mang 01 kiện h&agrave;nh l&yacute; x&aacute;ch tay ch&iacute;nh v&agrave; 01 kiện h&agrave;nh l&yacute; x&aacute;ch tay nhỏ với tổng trọng lượng tối đa kh&ocirc;ng vượt qu&aacute; 07kg.</p>
            <h3>2. Điều kiện về k&iacute;ch thước:</h3>
            <p>&bull; 01 kiện h&agrave;nh l&yacute; x&aacute;ch tay ch&iacute;nh c&oacute; k&iacute;ch thước tối đa&nbsp;<strong>56cm x 36cm x 23cm.</strong></p>
            <p>&bull; 01 t&uacute;i c&aacute; nh&acirc;n nhỏ (gồm một trong những t&uacute;i sau):</p>
            <div>
                <p>+ 01 t&uacute;i x&aacute;ch phụ nữ hoặc s&aacute;ch, tạp ch&iacute;, m&aacute;y ảnh, t&uacute;i đựng thức ăn cho em b&eacute;, t&uacute;i mua h&agrave;ng tại s&acirc;n bay...c&oacute; k&iacute;ch thước kh&ocirc;ng qu&aacute; 30cm x 20cm x 10cm.</p>
                <p>+ 01 t&uacute;i đựng &aacute;o kho&aacute;c c&oacute; k&iacute;ch thước tối đa khi mở ra kh&ocirc;ng qu&aacute; 114cm x 60cm x 11cm.</p>
                <p>+ 01 t&uacute;i đựng m&aacute;y t&iacute;nh x&aacute;ch tay c&oacute; kh&iacute;ch thước tối đa l&agrave; 40cm x 30cm x 10cm.</p>
            </div>
            <br />
            <h3>3. Điều kiện về nh&atilde;n h&agrave;nh l&yacute; x&aacute;ch tay:</h3>
            <p>+ H&agrave;nh l&yacute; x&aacute;ch tay phải được d&aacute;n nh&atilde;n h&agrave;nh l&yacute; x&aacute;ch tay của EagleAirline. Qu&yacute; H&agrave;nh Kh&aacute;ch vui l&ograve;ng li&ecirc;n hệ nh&acirc;n vi&ecirc;n EagleAirline để d&aacute;n nh&atilde;n cho h&agrave;nh l&yacute; x&aacute;ch tay theo quy định của h&atilde;ng tại quầy Check-in. Tất cả h&agrave;nh l&yacute; x&aacute;ch tay kh&ocirc;ng d&aacute;n &ldquo;nh&atilde;n h&agrave;nh l&yacute; x&aacute;ch tay&rdquo; sẽ bị từ chối mang l&ecirc;n t&agrave;u bay.</p>
            <br /><strong>Lưu &yacute; quan trọng:</strong>
            <p><strong><em>+ H&agrave;nh l&yacute; x&aacute;ch tay kh&ocirc;ng đ&uacute;ng quy định, qu&yacute; kh&aacute;ch sẽ phải trả ph&iacute; để k&yacute; gửi h&agrave;nh l&yacute; hoặc h&agrave;nh l&yacute; của qu&yacute; kh&aacute;ch sẽ bị từ chối chuy&ecirc;n chở.</em></strong></p>
            <p><strong><em>+ Ph&iacute; gửi h&agrave;nh l&yacute; sẽ cao hơn ở khu vực l&agrave;m thủ tục v&agrave; ở cửa khởi h&agrave;nh. H&atilde;y đảm bảo mua trước h&agrave;nh l&yacute; để tiết kiệm hơn.</em></strong></p>
            <p><strong><em>Vui l&ograve;ng tham khảo ph&iacute; gửi h&agrave;nh l&yacute; của EagleAirline&nbsp;</em></strong><a href="https://vietjetair.com/Sites/Web/vi-VN/NewsDetail/phi-va-le-phi/%203338/phi-va-le-phi"><strong><em>tại đ&acirc;y&gt;&gt;</em></strong></a><strong><em>.</em></strong></p>
            <br />
            <h4><u>Qui định về H&agrave;nh l&yacute; k&yacute; gởi:</u></h4>
            <ul>
                <li>- Trọng lượng kh&ocirc;ng qu&aacute; 32kg</li>
                <li>- K&iacute;ch thước kh&ocirc;ng qu&aacute; : 119cm x 119cm x 81cm</li>
                <li>- Qu&yacute; kh&aacute;ch mua h&agrave;nh l&yacute; trả trước theo c&aacute;c g&oacute;i cước ưu đ&atilde;i trả trước tại website, ph&ograve;ng v&eacute;, đại l&yacute; v&agrave; Trung T&acirc;m phục vụ kh&aacute;ch h&agrave;ng của ch&uacute;ng t&ocirc;i.</li>
            </ul>
            <p><em>C&aacute;c vật phẩm kh&ocirc;ng được chấp nhận dưới dạng h&agrave;nh l&yacute; k&yacute; gởi hoặc vận chuyển trong h&agrave;nh l&yacute;: Ch&uacute;ng t&ocirc;i c&oacute; quyền từ chối vận chuyển h&agrave;nh l&yacute; hoặc vật phẩm trong h&agrave;nh l&yacute; như sau:</em></p>
            <br />
            <p><strong>a.</strong>&nbsp;C&aacute;c vật phẩm kh&ocirc;ng được đ&oacute;ng g&oacute;i đ&uacute;ng quy c&aacute;ch trong va ly hoặc c&aacute;c vật chứa th&iacute;ch hợp kh&aacute;c để đảm bảo c&oacute; thể vận chuyển an to&agrave;n với sự chăm s&oacute;c v&agrave; xử l&yacute; th&ocirc;ng thường.</p>
            <br />
            <p><strong>b.</strong>&nbsp;C&aacute;c vật phẩm c&oacute; thể g&acirc;y nguy hại cho t&agrave;u bay hoặc người hoặc t&agrave;i sản tr&ecirc;n t&agrave;u bay, như c&aacute;c loại vật phẩm quy định trong C&aacute;c quy định về H&agrave;ng h&oacute;a Nguy hiểm của tổ chức h&agrave;ng kh&ocirc;ng thế giới (ICAO) v&agrave; Hiệp hội vận tải h&agrave;ng kh&ocirc;ng thế giới (IATA) v&agrave; trong Điều lệ vận chuyển v&agrave; C&aacute;c điều khoản hợp đồng của ch&uacute;ng t&ocirc;i;</p>
            <br />
            <p><strong>c.</strong>&nbsp;C&aacute;c vật phẩm bị cấm theo quy định của luật &aacute;p dụng, quy định hoặc lệnh của bất kỳ bang hay quốc gia n&agrave;o nơi bay đến, bay đi v&agrave; bay qua.</p>
            <br />
            <p><strong>d.</strong>&nbsp;C&aacute;c vật phẩm theo nhận định của ch&uacute;ng t&ocirc;i l&agrave; kh&ocirc;ng th&iacute;ch hợp cho việc vận chuyển do trọng lượng, h&igrave;nh d&aacute;ng, k&iacute;ch thước hoặc t&iacute;nh chất của ch&uacute;ng.</p>
            <br />
            <p><strong>e.</strong>&nbsp;C&aacute;c vật phẩm dễ vỡ hoặc dễ hỏng;</p>
            <p><strong>f.</strong>&nbsp;Động vật sống hoặc chết.</p>
            <p><strong>g.</strong>&nbsp;H&agrave;i cốt hoặc động vật.</p>
            <p><strong>h.</strong>&nbsp;Hải sản tươi sống hoặc đ&ocirc;ng lạnh hoặc c&aacute;c loại thịt, với điều kiện c&aacute;c vật phẩm n&agrave;y c&oacute; thể vận chuyển dưới dạng h&agrave;nh l&yacute; x&aacute;ch tay nếu ch&uacute;ng t&ocirc;i chấp thuận rằng ch&uacute;ng đ&atilde; được đ&oacute;ng g&oacute;i đ&uacute;ng quy c&aacute;ch. Chỉ những th&ugrave;ng xốp v&agrave;/hoặc th&ugrave;ng giữ lạnh chứa đựng thực phẩm kh&ocirc;/kh&ocirc;ng bị hư hỏng c&oacute; thể được ph&eacute;p l&agrave;m thủ tục sau khi c&aacute;c cơ quan chức năng đ&atilde; kiểm tra nội dung b&ecirc;n trong. Nếu H&agrave;nh kh&aacute;ch từ chối việc kiểm tra, th&igrave; ch&uacute;ng t&ocirc;i c&oacute; quyền từ chối vận chuyển H&agrave;nh l&yacute;.</p>
            <br />
            <p><strong>i.</strong>&nbsp;S&uacute;ng v&agrave; đạn dược.</p>
            <br />
            <p><strong>j.</strong>&nbsp;Chất nổ, kh&iacute; gas dễ ch&aacute;y hoặc kh&ocirc;ng ch&aacute;y (như b&igrave;nh xịt phun sơn, kh&iacute; butan, gas nạp hộp quẹt), kh&iacute; l&agrave;m lạnh (như b&igrave;nh dưỡng kh&iacute; dưới nước, nitơ lỏng), chất lỏng dễ ch&aacute;y (như sơn, chất pha lo&atilde;ng, dung m&ocirc;i); chất rắn dễ ch&aacute;y (như di&ecirc;m, bật lửa); hợp chất oxy hữu cơ (như nhựa c&acirc;y); chất độc, chất l&acirc;y nhiễm (như virut, vi khuẩn); chất ph&oacute;ng xạ (như Ra-đi); chất ăn m&ograve;n (như axit, kiềm, thủy ng&acirc;n, nhiệt kế), chất c&oacute; từ t&iacute;nh, vật liệu oxy h&oacute;a (như chất tẩy trắng).</p>
            <br />
            <p><strong>k.</strong>&nbsp;Vũ kh&iacute; như s&uacute;ng, kiếm, dao cổ v&agrave; c&aacute;c vật phẩm tương tự, với điều kiện c&aacute;c vật phẩm đ&oacute; c&oacute; thể được ph&eacute;p vận chuyển dưới dạng h&agrave;nh l&yacute; k&yacute; gửi ho&agrave;n to&agrave;n theo quyết định của ch&uacute;ng t&ocirc;i v&igrave; những l&yacute; do rất đặc biệt. Những thứ n&agrave;y kh&ocirc;ng được ph&eacute;p mang l&ecirc;n m&aacute;y bay v&igrave; bất kỳ l&yacute; do g&igrave;.</p>
            <br />
            <p><em><strong>- H&agrave;ng h&oacute;a c&oacute; gi&aacute; trị v&agrave; dễ vỡ:</strong></em>&nbsp;H&agrave;nh kh&aacute;ch được khuyến c&aacute;o kh&ocirc;ng k&yacute; gởi c&aacute;c vật phẩm n&agrave;y trong h&agrave;nh l&yacute;. Nếu c&aacute;c vật phẩm n&agrave;y được l&agrave;m thủ tục h&agrave;nh l&yacute; k&yacute; gởi, kh&aacute;ch h&agrave;ng đồng &yacute; chịu mọi rủi ro vận chuyển. C&aacute;c vật phẩm n&agrave;y bao gồm tiền, nữ trang, kim loại qu&yacute; hiếm, đồ d&ugrave;ng bằng bạc, đồ điện tử, m&aacute;y vi t&iacute;nh, m&aacute;y ảnh, m&aacute;y quay phim, giấy tờ c&oacute; thể chuyển nhượng, chứng kho&aacute;n, c&aacute;c giấy tờ c&oacute; gi&aacute; trị kh&aacute;c, hộ chiếu v&agrave; giấy tờ t&ugrave;y th&acirc;n.</p>
            <br />
            <p><em><strong>- Quyền lục so&aacute;t:&nbsp;</strong></em>V&igrave; c&aacute;c l&yacute; do an to&agrave;n v&agrave; an ninh, ch&uacute;ng t&ocirc;i c&oacute; thể y&ecirc;u cầu qu&yacute; kh&aacute;ch v&agrave; h&agrave;nh l&yacute; phải qua kiểm so&aacute;t, soi chiếu bằng X-quang hoặc c&aacute;c h&igrave;nh thức soi chiếu kh&aacute;c. Ch&uacute;ng t&ocirc;i c&oacute; quyền kiểm tra vắng mặt h&agrave;nh l&yacute; của qu&yacute; kh&aacute;ch, nếu kh&ocirc;ng t&igrave;m được qu&yacute; kh&aacute;ch, nhằm mục đ&iacute;ch kiểm tra xem qu&yacute; kh&aacute;ch c&oacute; hoặc h&agrave;nh l&yacute; của qu&yacute; kh&aacute;ch c&oacute; chứa h&agrave;ng h&oacute;a cấm hoặc kh&ocirc;ng được chấp thuận.Nếu qu&yacute; kh&aacute;ch từ chối việc kiểm tra hoặc soi chiếu như vậy, ch&uacute;ng t&ocirc;i c&oacute; quyền từ chối vận chuyển qu&yacute; kh&aacute;ch v&agrave; h&agrave;nh l&yacute; của qu&yacute; kh&aacute;ch m&agrave; kh&ocirc;ng ho&agrave;n trả lại cước vận chuyển v&agrave; kh&ocirc;ng chịu tr&aacute;ch nhiệm g&igrave; kh&aacute;c với qu&yacute; kh&aacute;ch.Trong trường hợp việc kiểm tra, soi chiếu g&acirc;y ra thương t&iacute;ch cho qu&yacute; kh&aacute;ch hoặc tổn thất cho h&agrave;nh l&yacute;, ch&uacute;ng t&ocirc;i kh&ocirc;ng chịu tr&aacute;ch nhiệm cho thương t&iacute;ch hoặc tổn thất đ&oacute;, nếu kh&ocirc;ng phải do lỗi hoặc sơ suất của ch&uacute;ng t&ocirc;i.</p>
            <br />
            <p><em><strong>- H&agrave;nh l&yacute; k&yacute; gởi:</strong></em>&nbsp;Sau khi h&agrave;nh l&yacute; được b&agrave;n giao cho ch&uacute;ng t&ocirc;i để kiểm tra, ch&uacute;ng t&ocirc;i sẽ bảo quản h&agrave;nh l&yacute; đ&oacute; v&agrave; ph&aacute;t h&agrave;nh một thẻ H&agrave;nh l&yacute; cho mỗi kiện h&agrave;nh l&yacute;. H&agrave;nh l&yacute; k&yacute; gởi phải c&oacute; t&ecirc;n qu&yacute; kh&aacute;ch hoặc c&aacute;c c&oacute; nhận dạng c&aacute; nh&acirc;n được gắn một c&aacute;ch an to&agrave;n tr&ecirc;n đ&oacute;. H&agrave;nh l&yacute; k&yacute; gởi được vận chuyển tr&ecirc;n c&ugrave;ng t&agrave;u bay với qu&yacute; kh&aacute;ch, trừ khi ch&uacute;ng t&ocirc;i quyết định vận chuyển h&agrave;nh l&yacute; đ&oacute; tr&ecirc;n chuyến bay kh&aacute;c do c&aacute;c l&yacute; do an to&agrave;n, an ninh hoặc khai th&aacute;c. Nếu h&agrave;nh l&yacute; của qu&yacute; kh&aacute;ch được vận chuyển tr&ecirc;n chuyến bay sau, ch&uacute;ng t&ocirc;i sẽ giao h&agrave;nh l&yacute; đ&oacute; cho qu&yacute; kh&aacute;ch trong một khoảng thời gian hợp l&yacute; sau khi chuyến bay đ&oacute; đến, trừ khi qu&yacute; kh&aacute;ch bắt buộc phải c&oacute; mặt để l&agrave;m thủ tục hải quan theo luật định.</p>
            <br />
            <p><em><strong>- H&agrave;nh l&yacute; k&yacute; gởi:&nbsp;</strong></em>Một khoản ph&iacute; h&agrave;nh l&yacute; được t&iacute;nh cho việc vận chuyển H&agrave;nh l&yacute; k&yacute; gởi. Hạn mức h&agrave;nh l&yacute; k&yacute; gởi ban đầu tối thiểu c&oacute; thể mua l&agrave; 15kg, sau đ&oacute; c&oacute; thể mua th&ecirc;m từng hạn mức 5kg. H&agrave;nh kh&aacute;ch n&agrave;o k&yacute; gởi h&agrave;nh l&yacute; vượt qu&aacute; 15kg hoặc vượt hạn mức h&agrave;nh l&yacute; đ&atilde; mua khi đặt chỗ sẽ phải trả th&ecirc;m ph&iacute; t&iacute;nh theo từng kg tại quầy thủ tục đăng k&yacute; chuyến bay ở s&acirc;n bay. Xin tham khảo th&ecirc;m Biểu Ph&iacute; của ch&uacute;ng t&ocirc;i để c&oacute; th&ecirc;m chi tiết về mọi mức cước ph&iacute;. Ph&iacute; h&agrave;nh l&yacute; kh&ocirc;ng được ho&agrave;n lại v&agrave; kh&ocirc;ng được chuyển nhượng.</p>
            <br />
            <p>- Xe đẩy trẻ em, xe lăn tay, c&aacute;c thiết bị hỗ trợ di chuyển hoặc khung nạng được vận chuyển miễn ph&iacute;.</p>
            <br />
            <p>- Trẻ nhỏ kh&ocirc;ng được mang theo h&agrave;nh l&yacute;, mặc d&ugrave; c&aacute;c loại xe đẩy, xe n&ocirc;i được vận chuyển miễn ph&iacute;.</p>
            <br />
            <p>- V&igrave; l&yacute; do sức khỏe v&agrave; an to&agrave;n, h&atilde;ng vận chuyển kh&ocirc;ng chấp nhận bất kỳ vật ri&ecirc;ng rẽ n&agrave;o vượt qu&aacute; 32kg v&agrave; k&iacute;ch thước hỗn hợp kh&ocirc;ng vượt qu&aacute; 81 cm chiều cao, 119 cm chiều rộng v&agrave; 119 cm chiều s&acirc;u.</p>
            <br />
            <p>- C&aacute;c dụng cụ thể thao c&oacute; thể được vận chuyển trong khoang h&agrave;ng sau khi được thanh to&aacute;n ph&iacute; quy định trong Biểu Ph&iacute; với rủi ro do qu&yacute; kh&aacute;ch tự chịu. V&igrave; vậy, qu&yacute; kh&aacute;ch n&ecirc;n mua bảo hiểm cần thiết cho c&aacute;c dụng cụ n&agrave;y. C&aacute;c nhạc cụ vượt qu&aacute; k&iacute;ch thước h&agrave;nh l&yacute; khoang h&agrave;nh kh&aacute;ch của ch&uacute;ng t&ocirc;i nhưng c&oacute; trọng lượng dưới 75kg th&igrave; được ph&eacute;p vận chuyển tr&ecirc;n khoang h&agrave;nh kh&aacute;ch, nếu qu&yacute; kh&aacute;ch mua chỗ ngồi để dụng cụ đ&oacute; v&agrave; thanh to&aacute;n cước vận chuyển th&iacute;ch hợp. Kh&ocirc;ng c&oacute; ti&ecirc;u chuẩn h&agrave;nh l&yacute; k&egrave;m theo chỗ ngồi mua th&ecirc;m.</p>
            <br />
            <p><em><strong>- H&agrave;nh l&yacute; x&aacute;ch tay:</strong></em>&nbsp;H&agrave;nh kh&aacute;ch (ngoại trừ trẻ nhỏ) được ph&eacute;p mang 1(một) kiện h&agrave;nh l&yacute; x&aacute;ch tay l&ecirc;n t&agrave;u bay. H&agrave;nh l&yacute; x&aacute;ch tay kh&ocirc;ng được c&oacute; k&iacute;ch thước vượt qu&aacute; 56cm x 36cm x 23cm v&agrave; trọng lượng kh&ocirc;ng vượt qu&aacute; 7 kg. H&agrave;nh l&yacute; như vậy phải vừa v&agrave;o dưới chỗ ngồi trước mặt qu&yacute; kh&aacute;ch hoặc v&agrave;o ngăn h&agrave;nh l&yacute; trong khoang h&agrave;nh kh&aacute;ch.C&aacute;c kiện h&agrave;nh l&yacute; m&agrave; ch&uacute;ng t&ocirc;i x&aacute;c định l&agrave; vượt qu&aacute; trọng lượng hoặc c&oacute; k&iacute;ch thước kh&oacute; chịu sẽ kh&ocirc;ng được ph&eacute;p mang l&ecirc;n t&agrave;u bay. T&ugrave;y thuộc v&agrave;o luật &aacute;p dụng v&agrave; quy định tại chỗ, h&agrave;nh kh&aacute;ch được mang chất lỏng trong h&agrave;nh l&yacute; x&aacute;ch tay l&ecirc;n m&aacute;y bay, nếu h&agrave;nh l&yacute; đ&oacute; đ&aacute;p ứng c&aacute;c điều kiện sau:</p>
            <br />
            <p><strong>a)</strong>&nbsp;Chất lỏng được đựng trong vật chứa với thể t&iacute;ch kh&ocirc;ng qu&aacute; 100ml;</p>
            <br />
            <p><strong>b)</strong>&nbsp;Tất cả c&aacute;c vật chứa chất lỏng c&oacute; thể t&iacute;ch tối đa 100ml mỗi thứ c&oacute; thể được dễ d&agrave;ng t&aacute;ch ri&ecirc;ng v&agrave;o một t&uacute;i b&oacute;ng trong suốt c&oacute; thể đ&oacute;ng k&iacute;n c&oacute; thể t&iacute;ch 1 l&iacute;t.</p>
            <br />
            <p><strong>c)</strong>T&uacute;i nhựa c&oacute; thể phải được mở ri&ecirc;ng ra ở khu vực an ninh. Qu&yacute; kh&aacute;ch c&oacute; thể sẽ bị đ&ograve;i hỏi phải bỏ đi c&aacute;c chất lỏng nếu kh&ocirc;ng đ&aacute;p ứng c&aacute;c y&ecirc;u cầu tr&ecirc;n.</p>
            <br />
            <p><em><strong>- Giao nhận h&agrave;nh l&yacute;:</strong></em>&nbsp;Qu&yacute; kh&aacute;ch sẽ nhận h&agrave;nh l&yacute; ngay khi h&agrave;nh l&yacute; được vận chuyển đến điểm đến. Nếu qu&yacute; kh&aacute;ch kh&ocirc;ng nhận h&agrave;nh l&yacute; trong khoảng thời gian hợp l&yacute; v&agrave; ch&uacute;ng t&ocirc;i phải lưu giữ h&agrave;nh l&yacute;, ch&uacute;ng t&ocirc;i c&oacute; thể t&iacute;nh ph&iacute; kho b&atilde;i.Nếu qu&yacute; kh&aacute;ch kh&ocirc;ng nhận h&agrave;nh l&yacute; k&yacute; gởi của m&igrave;nh trong v&ograve;ng 2 th&aacute;ng, ch&uacute;ng t&ocirc;i sẽ c&oacute; thể vứt bỏ h&agrave;nh l&yacute; đ&oacute; m&agrave; kh&ocirc;ng phải chịu bất kỳ tr&aacute;ch nhiệm n&agrave;o với qu&yacute; kh&aacute;ch.Chỉ người c&oacute; thẻ h&agrave;nh l&yacute; đ&atilde; được cấp cho h&agrave;nh kh&aacute;ch khi l&agrave;m thủ tục h&agrave;nh l&yacute; mới được quyền nhận h&agrave;nh l&yacute;. Nếu người nhận h&agrave;nh l&yacute; kh&ocirc;ng xuất tr&igrave;nh được thẻ h&agrave;nh l&yacute;, ch&uacute;ng t&ocirc;i sẽ chỉ giao h&agrave;nh l&yacute; cho người đ&oacute;, nếu người đ&oacute; chứng minh được với ch&uacute;ng t&ocirc;i về quyền với h&agrave;nh l&yacute; đ&oacute;, v&agrave; nếu ch&uacute;ng t&ocirc;i c&oacute; y&ecirc;u cầu th&igrave; người đ&oacute; phải cung cấp đảm bảo th&iacute;ch hợp để bồi ho&agrave;n cho ch&uacute;ng t&ocirc;i mọi mất m&aacute;t, thiệt hại hoặc chi ph&iacute; m&agrave; ch&uacute;ng t&ocirc;i c&oacute; thể phải chịu do việc b&agrave;n giao h&agrave;nh l&yacute; đ&oacute;. Việc người giữ thẻ h&agrave;nh l&yacute; chấp nhận h&agrave;nh l&yacute; tại thời điểm b&agrave;n giao l&agrave; chứng cứ hiển nhi&ecirc;n cho việc h&agrave;nh l&yacute; đ&atilde; được b&agrave;n giao trong điều kiện tốt v&agrave; ph&ugrave; hợp với hợp đồng vận chuyển với ch&uacute;ng t&ocirc;i.</p>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</div>
<div class="right">
    <div class="search-flight">
        <ul class="flight">
            <li>&nbsp;</li>
        </ul>
    </div>
</div>

