
@{
    ViewData["Title"] = "Dich_vu_tren_chuyen_bay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="Title" style="text-align: center;"><strong><span style="font-size: 15pt;">NHỮNG DỊCH VỤ TR&Ecirc;N CHUYẾN BAY</span></strong></p>
<p style="margin-right: 5pt; text-align: left;">1. H&agrave;nh Kh&aacute;ch tr&ecirc;n m&aacute;y bay sẽ được nghe những ca kh&uacute;c mới nhất từ 2 danh ca Phạm Tiến Bắc v&agrave; Đinh Văn Nam.</p>
<p style="margin-right: 5pt; text-align: left;">2. Được ph&eacute;p mang vật liệu ch&aacute;y nổ tr&ecirc;n m&aacute;y bay nếu bạn l&agrave; vip.</p>
<p style="margin-right: 5pt; text-align: left;">3. C&oacute; lạc rang, cơm nguội v&agrave; nước mắm cho qu&yacute; kh&aacute;ch ăn tr&ecirc;n m&aacute;y bay.</p>
