
@{
    ViewData["Title"] = "Thong_tin_noi_chuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="Title"><span id="ctl00_ContentPlaceHolder1_UcNewDetail1_LblTitle" class="TitleLink">Th&ocirc;ng tin nối chuyến</span></p>
<div>
    <h3>1. Sản phẩm nối chuyến của EagleAirline, đường bay nối chuyến tại H&agrave; Nội (HAN):</h3>
    <p>H&agrave;nh tr&igrave;nh nối chuyến bao gồm hai chuyến bay c&oacute; số hiệu kh&aacute;c nhau do EagleAirline khai th&aacute;c, được xuất tr&ecirc;n c&ugrave;ng 1 v&eacute; h&agrave;nh kh&aacute;ch, c&ugrave;ng 1 hồ sơ đặt chỗ; thời gian nối chuyến trong c&ugrave;ng ng&agrave;y hoặc kh&aacute;c ng&agrave;y nếu chuyến bay nối chuyến trong ng&agrave;y h&ocirc;m sau, tuy nhi&ecirc;n thời gian nối chuyến kh&ocirc;ng được qu&aacute; 6 tiếng.</p>
    <br />
    <p>Sản phẩm nối chuyến của EagleAirline hiện đang &aacute;p dụng: chặng bay giữa Seoul (ICN)/ Busan (PUS) v&agrave; Siem Reap (REP), Yangon (RGN); chặng bay giữa Osaka (KIX)/Tokyo (NRT) v&agrave; Siem Reap (REP), Yangoon (RGN) v&agrave; ngược lại c&oacute; điểm nối chuyến tại H&agrave; Nội.</p>
    <br />
    <h3>2. H&agrave;nh tr&igrave;nh, số hiệu chuyến bay nối chuyến:</h3>
    <ul>
        <li>&middot; ICN-REP: Nối chuyến giữa EA961/EA963 ICN-HAN v&agrave; EA957 HAN-REP</li>
        <li>&middot; REP-ICN: Nối chuyến giữa EA958 REP-HAN v&agrave; EA962/EA960 HAN-ICN</li>
        <li>&middot; PUS-REP: Nối chuyến giữa EA981 PUS-HAN v&agrave; EA957 HAN-REP</li>
        <li>&middot; REP-PUS: Nối chuyến giữa EA958 REP-HAN v&agrave; EA982 HAN-PUS</li>
        <li>&middot; ICN-RGN: Nối chuyến giữa EA961/EA963 ICN-HAN v&agrave; EA917 HAN-RGN</li>
        <li>&middot; RGN-ICN: Nối chuyến giữa EA918 RGN-HAN v&agrave; EA962/EA960 HAN-ICN</li>
        <li>&middot; PUS-RGN: Nối chuyến giữa EA981 PUS-HAN v&agrave; EA917 HAN-RGN</li>
        <li>&middot; RGN-PUS: Nối chuyến giữa EA918 RGN-HAN v&agrave; EA982 HAN-PUS</li>
        <li>&middot; KIX-REP: Nối chuyến giữa EA939 KIX-HAN v&agrave; EA957 HAN-REP</li>
        <li>&middot; REP-KIX: Nối chuyến giữa EA958 REP-HAN v&agrave; EA938 HAN-KIX</li>
        <li>&middot; KIX-RGN: Nối chuyến giữa EA939 KIX-HAN v&agrave; EA917 HAN-RGN</li>
        <li>&middot; RGN-KIX: Nối chuyến giữa EA918 RGN-HAN v&agrave; EA938 HAN-KIX</li>
        <li>&middot; NRT-REP: Nối chuyến giữa EA9333 NRT-HAN v&agrave; EA957 HAN-REP</li>
        <li>&middot; REP-NRT: Nối chuyến giữa EA958 REP-HAN v&agrave; EA932 HAN-NRT</li>
        <li>&middot; NRT-RGN: Nối chuyến giữa EA933 NRT-HAN v&agrave; EA917 HAN-RGN</li>
        <li>&middot; RGN-NRT: Nối chuyến giữa EA918 RGN-HAN v&agrave; EA932 HAN-NRT</li>
    </ul>
    <h3>3. Đặt chỗ v&agrave; dịch vụ cộng th&ecirc;m:</h3>
    <ul>
        <li>&middot; Truy cập v&agrave;o website&nbsp;<a href="http://www.vietjetair.com/"><u>www.EagleAirlineair.com</u></a></li>
        <li>&middot; Đặt chỗ, mua v&eacute; th&ocirc;ng chặng bằng c&aacute;ch chọn điểm khởi h&agrave;nh v&agrave; điểm đến cuối c&ugrave;ng.</li>
        <li>&middot; H&agrave;nh l&yacute; mua được &aacute;p dụng cho to&agrave;n h&agrave;nh tr&igrave;nh, gi&aacute; &aacute;p dụng cho h&agrave;nh l&yacute; th&ocirc;ng chặng.</li>
        <li>&middot; Suất ăn mua cho to&agrave;n h&agrave;nh tr&igrave;nh, gi&aacute; &aacute;p dụng th&ocirc;ng chặng.</li>
        <li>&middot; Chọn chỗ ngồi cho mỗi chặng bay, gi&aacute; &aacute;p dụng cho từng chặng.</li>
    </ul>
    <h3>4. Nguy&ecirc;n tắc l&agrave;m thủ tục, h&agrave;nh l&yacute; nối chuyến:</h3>
    <p><strong>4.1. Điều kiện l&agrave;m thủ tục thẳng:</strong></p>
    <p>&middot; Dịch vụ nối chuyến kh&ocirc;ng &aacute;p dụng đối với h&agrave;nh kh&aacute;ch mua v&eacute; 2 chặng bay t&aacute;ch rời.</p>
    <p>&middot; Kh&aacute;ch c&oacute; v&eacute; đ&atilde; được x&aacute;c nhận chỗ v&agrave; dịch vụ (nếu kh&aacute;ch y&ecirc;u cầu dịch vụ đặc biệt) cho cả h&agrave;nh tr&igrave;nh.</p>
    <p>&middot; Kh&aacute;ch c&oacute; đầy đủ giấy tờ du lịch theo quy định của nh&agrave; chức tr&aacute;ch tại c&aacute;c s&acirc;n bay c&oacute; li&ecirc;n quan.</p>
    <p>&middot; Kh&aacute;ch trả đủ cước h&agrave;nh l&yacute; t&iacute;nh cước (nếu c&oacute;) cho cả h&agrave;nh tr&igrave;nh.</p>
    <p><strong>4.2. H&agrave;nh l&yacute; nối chuyến:</strong></p>
    <p>&middot; Được l&agrave;m thủ tục to&agrave;n chặng đến điểm cuối của h&agrave;nh tr&igrave;nh.</p>
    <p>&middot; H&agrave;nh l&yacute; k&yacute; gửi kh&ocirc;ng được nhận tại s&acirc;n bay nối chuyến (Nội B&agrave;i).</p>
    <p><strong>4.3. L&agrave;m thủ tục tại s&acirc;n bay xuất ph&aacute;t REP/RGN v&agrave; ICN/PUS; REP/RGN v&agrave; KIX/NRT.</strong></p>
    <p>&middot; Tại s&acirc;n bay khởi h&agrave;nh, kh&aacute;ch sẽ được l&agrave;m thủ tục đến điểm nối chuyến trong h&agrave;nh tr&igrave;nh (ICN/PUS-HAN, KIX/NRT-HAN hay REP/RGN-HAN).</p>
    <p>&middot; Tại s&acirc;n bay của điểm nối chuyến, kh&aacute;ch li&ecirc;n lạc quầy nối chuyến tại H&agrave; Nội của EagleAirline để thực hiện chặng bay tiếp theo từ H&agrave; Nội.</p>
    <p>&middot; Kh&aacute;ch chờ nối chuyến trong ph&ograve;ng c&aacute;ch ly tại s&acirc;n bay Nội B&agrave;i.</p>
    <h3>5. Thay đổi ng&agrave;y bay, h&agrave;nh tr&igrave;nh, t&ecirc;n, ho&agrave;n v&eacute; tự nguyện:</h3>
    <p>&middot; &Aacute;p dụng theo quy định hiện h&agrave;nh của EagleAirline.</p>
    <p>Mức ph&iacute; v&agrave; điều kiện &aacute;p dụng cho to&agrave;n bộ h&agrave;nh tr&igrave;nh nối chuyến.</p>
</div>
<p style="margin-right: 5.0pt; text-align: center;">&nbsp;</p>

