@model Airplanes.Models.DbFlight

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DbFlight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RollNumber" class="control-label"></label>
                <input asp-for="RollNumber" class="form-control" />
                <span asp-validation-for="RollNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbRouteId" class="control-label"></label>
                <select asp-for="DbRouteId" class="custom-select browser-default" asp-items="ViewBag.DbRouteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DbPlaneId" class="control-label"></label>
                <select asp-for="DbPlaneId" class="custom-select browser-default" asp-items="ViewBag.DbPlaneId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FlightTime" class="control-label"></label>
                <input asp-for="FlightTime" class="form-control" />
                <span asp-validation-for="FlightTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfTransit" class="control-label"></label>
                <input asp-for="TimeOfTransit" class="form-control" />
                <span asp-validation-for="TimeOfTransit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightDuration" class="control-label"></label>
                <input asp-for="FlightDuration" class="form-control" />
                <span asp-validation-for="FlightDuration" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="CreatedAt" class="control-label"></label>
            <input asp-for="CreatedAt" class="form-control" />
            <span asp-validation-for="CreatedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedAt" class="control-label"></label>
            <input asp-for="UpdatedAt" class="form-control" />
            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" class="custom-select browser-default"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
