@model Airplanes.Models.DbOrder

@{
    ViewData["Title"] = "Create";
}

<div class="row text-center">
    <div class="col-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-primary">
                <h5 class="text-white">Số lượng vé</h5>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Adult" class="control-label">Người lớn</label>
                        <input asp-for="Adult" class="form-control" />
                        <span asp-validation-for="Adult" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Child" class="control-label">Trẻ em</label>
                        <input asp-for="Child" class="form-control" />
                        <span asp-validation-for="Child" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default btn-block" />
                    </div>
                </form>
            </div>
        </div>
        
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
