@model Airplanes.Controllers.MainController.PickUpTicketController

@{
    ViewData["Title"] = "Booking Success";
}

<h2>Booking Success</h2>

<h4>Chúc mừng bạn đã đặt vé thành công!</h4>
<hr />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    

}

