@model Airplanes.Controllers.MainController.PickUpTicketController

@{
    ViewData["Title"] = "Choice Route";
}

<h2>Choice Route</h2>

<h4>Select information</h4>
<hr />
<h5>@ViewBag.Match</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="PickUpTicket" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="pickUp.FlightId" value="@ViewData["flightId"]" class="form-control" />
            </div>
            <div class="form-group">
                <input hidden asp-for="pickUp.OrderId" value="@ViewData["OrderId"]" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="pickUp.FullName" class="control-label"></label>
                <input asp-for="pickUp.FullName" class="form-control" />
                <span asp-validation-for="pickUp.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pickUp.Gender" class="control-label"></label>
                <fieldset>
                    <select class="custom-select browser-default" asp-for="pickUp.Gender">
                        <option value="1">Mr</option>
                        <option selected="selected" value="0">Miss</option>
                    </select>
                </fieldset>
                <span asp-validation-for="pickUp.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pickUp.Phone" class="control-label"></label>
                <input asp-for="pickUp.Phone" class="form-control" />
                <span asp-validation-for="pickUp.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pickUp.Birthday" class="control-label"></label>
                <input asp-for="pickUp.Birthday" class="form-control" />
                <span asp-validation-for="pickUp.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pickUp.TicketClassName" class="control-label"></label>
                <select asp-for="pickUp.TicketClassName" class="custom-select browser-default" asp-items="ViewBag.TicketsClass"></select>
            </div>
            <div class="form-group">
                <label asp-for="pickUp.Status" class="control-label"></label>
                <fieldset>
                    <select class="custom-select browser-default" asp-for="pickUp.Status">
                        <option value="1">Sold</option>
                        <option selected="selected" value="2">Hold</option>
                    </select>
                </fieldset>
                <span asp-validation-for="pickUp.Status" class="text-danger"></span>
            </div>
            @*@(new SelectList(ViewBag.TicketClass, "TicketClassName", "TicketClassName"))*@
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
