@model Airplanes.Controllers.MainController.PickUpTicketController

@{
    ViewData["Title"] = "Choice Route";
}

<h5>@ViewBag.Match</h5>
<div class="row">
    <div class="col-4"></div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header bg-primary">
                <h5 class="text-white">Thông tin cá nhân</h5>
            </div>
            <div class="card-body">
                <form asp-action="PickUpTicket" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input hidden asp-for="pickUp.FlightId" value="@ViewData["flightId"]" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input hidden asp-for="pickUp.OrderId" value="@ViewData["OrderId"]" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="pickUp.FullName" class="control-label">Tên đầy đủ</label>
                        <input asp-for="pickUp.FullName" class="form-control" />
                        <span asp-validation-for="pickUp.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="pickUp.Gender" class="control-label">Danh xưng</label>
                        <fieldset>
                            <select class="custom-select browser-default" asp-for="pickUp.Gender">
                                <option value="1">Ông</option>
                                <option selected="selected" value="0">Bà</option>
                            </select>
                        </fieldset>
                        <span asp-validation-for="pickUp.Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="pickUp.Phone" class="control-label">Số điện thoại</label>
                        <input asp-for="pickUp.Phone" class="form-control" />
                        <span asp-validation-for="pickUp.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="pickUp.Birthday" class="control-label">Ngày sinh</label>
                        <input asp-for="pickUp.Birthday" class="form-control" />
                        <span asp-validation-for="pickUp.Birthday" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="pickUp.TicketClassName" class="control-label">Hạng vé</label>
                        <select asp-for="pickUp.TicketClassName" class="custom-select browser-default" asp-items="ViewBag.TicketsClass"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="pickUp.Status" class="control-label">Trạng thái</label>
                        <fieldset>
                            <select class="custom-select browser-default" asp-for="pickUp.Status">
                                <option value="1">Mua vé</option>
                                <option selected="selected" value="2">Giữ vé</option>
                            </select>
                        </fieldset>
                        <span asp-validation-for="pickUp.Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-default btn-block" />
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
