@model IEnumerable<Airplanes.Models.DbNews>

@{
    ViewBag.Title = "Tin Tức";
    Layout = "_Layout";
}

<h4 class="text-center py-4">Two equal columns layout</h4>

        @foreach (var item in Model)
        {
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mb-4">
                    <!-- Card -->
                    <div class="card promoting-card">

                        <!-- Card content -->
                        <div class="card-body d-flex flex-row">

                            <!-- Avatar -->
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

                            <!-- Content -->
                            <div>

                                <!-- Title -->
                                <h4 class="card-title font-weight-bold mb-2">@Html.DisplayFor(modelItem => item.Title)</h4>
                                <!-- Subtitle -->
                                <p class="card-text"><i class="far fa-clock pr-2"></i>@Html.DisplayFor(modelItem => item.Date)</p>
                                <p class="card-title font-small">@Html.DisplayFor(modelItem => item.Author).</p>
                            </div>

                        </div>

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top rounded-0" src="/images/tmg-article_main_wide_2x copy.jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <div class="collapse-content">

                                <!-- Text -->
                                <p class="card-text collapse" id="collapseContent">@Html.DisplayFor(modelItem => item.Content)</p>
                                <!-- Button -->
                                <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Read More</a>

                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
                </div>
                <!--/.Card-->
            <!-- Grid column -->



        }

